<nav>
  <a href="/flights/add">Add a New Flight</a>
</nav>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Airline</th>
      <th>Number</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Time</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @flights.each do |flight, value| %>
      <tr>
        <td><%= flight %></td>
        <td><%= value[:airline] %></td>
        <td><%= value[:flight_number] %></td>
        <td><%= value[:origin] %></td>
        <td><%= value[:destination] %></td>
        <td><%= value[:time] %></td>
        <td>
          <a href="/flights/<%= flight %>/edit">Edit</a>
          <form class="inline" method="post" action="/flights/<%= flight %>/delete">
            <input type="hidden" name="_method" value="delete">
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
